.container{
	background-color: grey;
	margin:0;
}

header{
	background-color: pink;


}


.logo{
	margin-left: 20px;
	margin-top: 3px;
}

nav{
	float: right;
	margin-right: 20px;
}

nav li{
	display: inline;
	margin-left: 15px;
	list-style-position: inside;
}

nav li a:hover{
	color:green;
}

.diyi{
	box-shadow:2px 2px 3px #999999;
}

article{
	background-color: #fff;
	padding: 40px 20px;
	margin-top: 40px;
	margin-left: 20px;
	margin-right: 20px;
	border: 1px solid black;
	box-shadow:2px 2px 3px green;
}

h2{

	font-size: 20px;
	font-weight: 900;
}

h3{
	font-size: 15px;
	font-weight: 500;
	color:grey;
}

article span{
	font-size: 5px;
	font-weight: 500;
	color: grey;
}

time{
	font-size: 5px;
	font-weight: 500;
	color: grey;	
}

article p{
	text-indent: 2em;
	line-height: 25px;

}


figure{
	border:1px solid #cbcbcb;
	padding:10px;
	width: 600px;
	height: 400px;
	margin-top: 20px;
	margin-left: 50px;
}

figure figcaption{
	text-align: center;
}

table{
	border-collapse: collapse;
	border: solid #e3e3e3 1px;
	border-width: 1px 1px 1px 1px;
	width: 1000px;
}

td{
	height: 25px;
	font-size: 10px;
	text-align: left;
	border: 1px solid #e3e3e3;
	padding:5px;
}

th{
	background-color: #333;
	color: #fff;
	height: 25px;
	font-size: 10px;
	text-align: left;
	border: 1px solid #e3e3e3;
	padding: 5px;
}


tfoot{
	background-color: #ccc;
}

aside{
	background-color: #fff;
	padding: 40px 20px;
	margin-top: 40px;
	margin-left: 20px;
	margin-right: 20px;
	border: 1px solid black;
	box-shadow:2px 2px 1px green;
}

aside div{
	margin:10px;
}

aside form{
	margin-left: 300px;
}

.info{
	margin-left: 105px;
	font-size: 10px;
	color: #969696;
}

form label{
	font-size: 10px;
	margin-right: 10px;
	text-align: right;
	width: 85px;
	display: inline-block;
}

.button{
	margin-top: 10px;
	border: 1px solid #ccc;
	background: #35c;
	width: 80px;
	height: 40px;
	border-radius: 5px;
}

footer{
	text-align: center;
	font-size: 10px;
	padding-top: 10px;
	margin-top: 20px;
	margin-bottom: 0px;
	background-color: pink;
	height: 50px;

}